* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart {
  height: 100vh;
}

body {
  font-family: sans-serif;
  position: relative;
  background-color: var(--body-bg-color);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.not-found {
  display: flex;
  align-items: center;
  gap: 80px;
  flex-direction: column;
  height: 100vh;
}

.not-found h1 {
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 30px;
}
.not-found h2 {
  font-size: 30px;
}
